# Archivos y carpetas ignorados por Git

# Node.js
node_modules/

# Archivos de logs
logs/

# Archivos de datos generados
data/

# Archivos de cache
.cache/

# Archivos de configuración de IDE
.vscode/
.idea/

# Archivos de configuración de Node.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de compilación
build/
dist/

# Archivos de pruebas
test/

# Archivos de documentación
docs/